<div id="root">
</div>

<script>
  window.__INITIAL_DATA__ = <%= raw(@conn.assigns.initial_data) %>;
  window.__DUMMY_IMG_URL__ = "<%= static_path(@conn, "/images/meow.png") %>"
</script>

<%= if Mix.env == :dev do %>
  <script>
  window.__CHANNEL_PATH__ = "/socket";
  </script>
  <script src='http://localhost:4001/app.js'></script>
<% else %>
  <script>
  window.__CHANNEL_PATH__ = "/pgboard/socket";
  </script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<% end %>
